body {
	background-color: #eeeeee;
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 1.254;
}
#wrapper {
	width: auto;
	margin: 0px auto;
	padding: 0px 60px;
	padding-bottom: 10px;
	background-color: #ffffff;
}
.jumbotron {
	background-color: #fcfdfe;
}
.image:hover{
	opacity: 0.6;
  	filter: alpha(opacity=60); 
}
.image {
	border: 3px solid #eeeeee;
}
footer {
	margin-top: 3em;
	border-top:  2px solid #D2691E;
	font-size: 1.5em;
	font-style: bold;
}
footer p {
	margin-top: 2em;
}
/*---sologan----*/
#sologan {
	font-size: 0.8em;
	color: #8997a0;
}
/*--------------------------------------------MENU--------------------------*/
/*#wrapper #header .menu  {
	background: url(../image/menu-left.jpg) left top no-repeat;
}
	#wrapper #header .menu .right  {
		background: url(../image/menu-right.jpg) right top no-repeat;
	}
		#wrapper #header .menu .right .content {
			background: url(../image/menu-content.jpg) left top repeat-x;
			height: 45px;
			margin: 0px 12px;
		} 
		#wrapper #header .menu  ul{
			position: relative;
		}
		#wrapper #header .menu  ul li{
			float: left;
		}
		#wrapper #header .menu  ul li a{
			display: block;
			padding: 0px 22px;
			/*line-height: 45px;*/
/*			font: bold 14px/45px Arial,Helvetica,sans-serif;
			color: #000043;
			text-transform: uppercase;
		}
		#wrapper #header .menu  ul li a:hover{
				color: #363;
				text-decoration: underline;
		}
	.line-w-45px {
		width: 1px;
		height: 45px;
		background-color: #d2d2d2;
	}*/*/